
body {
  font-family: "Open Sans", sans-serif; }

.background-image {
  background-image: url("../images/pexels-bernyce-hollingworth-2702805.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.card :hover {
  background-color: blueviolet;
}

a:link {
  text-decoration: none;
}


.nyPic {
  width: 100%;

}


.navbar {
  background-color: #760834;
}

.site-footer{
  background-color: #760808;
}
.myBackgroundImg {
  background-image: url('/images/pexels-prem-pal-singh-602750.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height:1000px;
  width: 1000p;
  margin: absolute;
  background-position: 0rem;
  background-blend-mode: lighten;
  opacity: 0.7;

}
.myBackgroundImg h4 {
    color:#760808;
    font-style: italic;
    font-weight: bolder;
    font-size: 30pt;
    
  }
.myBackgroundImg p {
    color:rgb(7, 11, 247);
    font-weight: bolder;
    font-style: inherit;
    font-size: 5mm;
    background-color:rgb(238, 236, 231);
}
.myContactImg {
  background-image: url('/images/pexels-markus-spiske-121191.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height:1000px;
  width: 1000p;
  margin: absolute;
  background-position: 0rem;

}
.img-thumbnail {
  height:300px;
  width: 300px;
}

.myproductsImg {
  background-image: url('/images/pexels-bernyce-hollingworth-2702805.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height:1000px;
  width: 1000p;
  margin: absolute;
  background-position: 0rem;
}

.jumbotron {
  background-image: url('/images/header-pic.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height:250px;
  width: 250p;
  margin: absolute;
  background-position: 0rem;
}
.jumbotron h1{
  color: rgb(243, 10, 10);
}  
.center {
  margin: 0 auto;
}


.adress {
  color: black;
  margin: auto;
  text-align: center;
  background-color: white;
}

.carousel {
  border: solid white;
  margin: 10px;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.cardBody {
    margin-left:8% ;
}

.card-body {
  background-color: #760834;
  color: white;
  text-align: center;
}

.card {
  width: 20rem;
  margin: 2rem 0;
  border: 10px;
  border: solid 5px white;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #760834;
    color: white;
    padding: 50px 30px;
}
